<h1>New Product Form</h1>

<div class="edit">
<form action="/products/{{id}}" method="POST">
  <p><label>ID: <input type="text" name="id"></label></p>
  <p><label>Name: <input type="text" name="name"></label></p>
  <p><label>Price: <input type="text" name="price"></label></p>
  <p><label>Inventory: <input type="text" name="inventory"></label></p>
  <button type="submit">Add Product</button>
  </form>
</div>